<div class="header">
    <div class="wrap">
        <div class="navbar navbar_ clearfix">
            <div class="container">
                <div class="row">
                    <div class="span5">
                        <div class="logo"><h1><a href="{{ site.data.trads[page.lang].homeurl }}">Claire Reynaud</a></h1></div>
                        <div class="tagline"><h2>{{ site.data.trads[page.lang].crafting}}</h2></div>
                    </div>
                    <div class="span7">
                        <div class="follow_us">
                            <ul>

                                <li>
                                    <a data-original-title="" target="_blank" href="https://twitter.com/clairereynaud"
                                       class="twitter">Twitter</a>
                                </li>


                            </ul>
                        </div>
                        <div class="clear"></div>
                            <div class="menu_wrap">
                                <ul class="nav">
                                    <li class="" id="dropdown-menu--"><a href="{{ site.data.trads[page.lang].homeurl }}">
                                        {{ site.data.trads[page.lang].home}}
                                    </a></li>
                                    <li class="" id="dropdown-menu-portfolio"><a href="{{ site.data.trads[page.lang].portfoliourl }}">
                                        {{ site.data.trads[page.lang].portfolio}}
                                    </a></li>
                                    <li class="" id="dropdown-menu--blog"><a href="/blog">
                                        {{ site.data.trads[page.lang].blog}}
                                    </a></li>
                                    <li class="" id="dropdown-menu-mailto:info@clairereynaud.net"><a
                                            href="mailto:info@clairereynaud.net">
                                        {{ site.data.trads[page.lang].contact}}
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>