---
layout: default
---

<div class="container-fluid home-image-container main-slider">
    <div class="row">
        <div class="col-md-12">
            <img src="/images/willio.jpg">
        </div>
    </div>
</div>

<div class="wrap planning">
    <div class="container">
        <div class="row">

            <div class="span3">

                <a href="{{ site.data.trads[page.lang].portfoliourl }}">
                    <i class="home-icon fa fa-apple"></i>
                    <span class="link_title">{{ site.data.trads[page.lang].feature1 }}</span>
                   {{ site.data.trads[page.lang].detail1}}
                </a>

            </div>

            <div class="span3">

                <a href="{{ site.data.trads[page.lang].portfoliourl }}">
                    <i class="home-icon fa fa-mobile"></i>
                    <span class="link_title">{{ site.data.trads[page.lang].feature2 }}</span>
                   {{ site.data.trads[page.lang].detail2}}
                </a>

            </div>

            <div class="span3">

                <a href="{{ site.data.trads[page.lang].portfoliourl }}">
                    <i class="home-icon fa fa-cloud"></i>
                    <span class="link_title">{{ site.data.trads[page.lang].feature3 }}</span>
                   {{ site.data.trads[page.lang].detail3}}
                </a>

            </div>

            <div class="span3">

                <a href="{{ site.data.trads[page.lang].portfoliourl }}">
                    <i class="home-icon fa fa-money"></i>
                    <span class="link_title">{{ site.data.trads[page.lang].feature4 }}</span>
                   {{ site.data.trads[page.lang].detail4}}
                </a>

            </div>

        </div>
    </div>
</div>

<div class="wrap block">
    <div class="container welcome_block">
        <div class="welcome_line welcome_t"></div>

        {{ site.data.trads[page.lang].iosdev}}
        <span><a href="mailto:info@clairereynaud.net">{{ site.data.trads[page.lang].letstalk}}</a></span>

        <div class="welcome_line welcome_b"></div>
    </div>
</div>